<section class="section">
  <div class="container">
    <div class="columns">
      <!-- Sidebar -->
      <div class="column is-3">
        <aside class="menu is-sticky">
          <p class="menu-label">
            Getting Started
          </p>
          <ul class="menu-list">
            <li><a href="/documentation.html">Overview</a></li>
            <li><a href="/tutorials/1ch.html">Quick Start</a></li>
          </ul>
          <p class="menu-label">
            Core Libraries
          </p>
          <ul class="menu-list">
            <li><a href="https://hackage.haskell.org/package/distributed-process" target="_blank">distributed-process</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-static" target="_blank">distributed-static</a></li>
            <li><a href="https://hackage.haskell.org/package/rank1dynamic" target="_blank">rank1dynamic</a></li>
          </ul>
          <p class="menu-label">
            Platform Libraries
          </p>
          <ul class="menu-list">
            <li><a href="https://hackage.haskell.org/package/distributed-process-client-server" target="_blank">Client/Server</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-async" target="_blank">Async</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-task" target="_blank">Task</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-extras" target="_blank">Extras</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-registry" target="_blank">Registry</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-execution" target="_blank">Execution</a></li>
            <li><a href="https://hackage.haskell.org/package/distributed-process-supervisor" target="_blank">Supervisor</a></li>
          </ul>
          <p class="menu-label">
            Network Transports
          </p>
          <ul class="menu-list">
            <li><a href="https://hackage.haskell.org/package/network-transport" target="_blank">Transport API</a></li>
            <li><a href="https://hackage.haskell.org/package/network-transport-tcp" target="_blank">TCP</a></li>
            <li><a href="https://hackage.haskell.org/package/network-transport-inmemory" target="_blank">In-Memory</a></li>
          </ul>
          <p class="menu-label">
            Tutorials
          </p>
          <ul class="menu-list">
            <li><a href="/tutorials/1ch.html">Getting Started</a></li>
            <li><a href="/tutorials/2ch.html">Managing Topologies</a></li>
            <li><a href="/tutorials/3ch.html">Processes</a></li>
            <li><a href="/tutorials/4ch.html">Managed Processes</a></li>
            <li><a href="/tutorials/5ch.html">Supervision</a></li>
            <li><a href="/tutorials/6ch.html">Advanced Topics</a></li>
          </ul>
          <p class="menu-label">
            Resources
          </p>
          <ul class="menu-list">
            <li><a href="/wiki.html">Wiki</a></li>
            <li><a href="/static/semantics.pdf">Formal Semantics</a></li>
            <li><a href="https://github.com/haskell-distributed" target="_blank">GitHub</a></li>
          </ul>
        </aside>
      </div>

      <!-- Main content -->
      <div class="column is-9">
        <div class="content">
          <h1 class="title is-1">$title$</h1>
          $body$
        </div>
      </div>
    </div>
  </div>
</section>
